body {
  margin: 0;
  font-family: arial, helvetica, sans-serif;
  background-color: #ccc;
}
.hero {
  height: 610px;
  background-size: cover;
  background-position: center;
  padding-top: 1px; /*Corrige o bug do topo do site*/
  background-image: url(../imagens/bg-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-content {
  margin: 80px auto 0;
  width: 80%;
  text-align: center;
  color: whitesmoke;
}

.hero-content h1 {
  font-size: 42px;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.hero-content p {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  display: inline-block;
  padding: 16px;
  border-bottom: 2px solid;
}

.hero nav ul {
  margin: 20px 20px 0 0; /*Quadradinhos dos links*/
}
.hero nav li {
  /*Configs dos quadradinhos*/
  display: inline-block;
  list-style-type: none;
  border: 1px solid white;
  /*text-align: right;*/
  margin-left: 16px;
}
.hero nav a {
  /*Configs internas dos quadradinhos*/
  background-color: rgba(0, 0, 0, 0);
  padding: 15px 30px;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
.hero nav a:hover {
  /*Passar o curso por cima dos quadradinhos*/
  background-color: rgba(0, 0, 0, 0.5);
}

main {
  font-size: 20px;
  width: 90%;
  margin: auto; /*Centraliza o conteúdo do main*/
  /*min-width: 600px;*/
  max-width: 1200px;
}
article {
  background-color: white;
  padding: 16px;
  margin-bottom: 32px;
  margin-top: 32px;
}
article h2 {
  border-bottom: 2px solid #ccc;
  background-color: #eee;
  padding: 10px;
  margin-top: 0;
}

.btn {
  display: block;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 6px; /*Borda arredondada*/
  margin-left: auto; /*Alinha o botão à direita*/
  width: 90px; /*Largura do botão*/
  /*text-align: center;*/
  width: fit-content; /*Ajusta a largura do botão ao conteúdo*/
  text-decoration: none;
  background-color: #6b6c68;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: #ccc;
  color: rgba(0, 0, 0, 0.5);
}

.rodapé {
  color: white;
  background-color: #6b6c68;
  text-align: center;
  padding: 30px;
  text-shadow: 2px 2px 2px #000;
}
