:root {
  --primary-color: #612674;
  --default-gap: 1em;
}

html {
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Oxygen", sans-serif;
}

.maxWidth {
  max-width: 1200px;
  margin: auto;
}

.top_header {
  text-align: center;
}

.top_header_nav {
  background-color: var(--primary-color);
}

.top_header_nav ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.top_header_nav a {
  color: white;
  background-color: var(--primary-color);
  text-decoration: none;
  display: block; /* to make it a block element */
  padding: 1em;
  margin-bottom: 1em;
  font-family: "Oxygen", sans-serif;
  border: 1px solid transparent; /* reserva o espaço do border para evitar vibração no hover */
}

.top_header_nav a:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: white;
  font-family: "Oxygen", sans-serif;
}

@media screen /*Será aplicado somente se for uma tela (screen) */ and (min-width: 48.75em) /*780px*/ {
  .top_header {
    display: flex;
    justify-content: space-between;
  }

  .top_header_logo {
    margin-left: 1.5em;
  }

  .top_header_nav {
    background-color: initial; /* para deixar o fundo transparente, default */
  }

  .top_header_nav li {
    display: inline-block;
  }

  .top_header_nav a {
    color: white;
    background-color: var(--primary-color);
    font-family: "Oxygen", sans-serif;
    border: 1px solid transparent; /* reserva o espaço do border para evitar vibração no hover */
  }

  .top_header_nav a:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: white;
    font-family: "Oxygen", sans-serif;
  }
}

.heroBanner {
  text-align: center;
  background-color: #6b6b6b;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/bg_topo_1600x1374.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1em;
}

.heroBanner_iconPlay {
  height: 5em;
  width: 5em;
  display: none;
}

.heroBanner_iconPlay img {
  width: 100%;
}

.heroBanner_title {
  color: white;
  font-size: 1.5em;
  margin: 1.5em 0;
}

.heroBanner_subtitle {
  font-size: 1em;
  color: white;
  line-height: 1.5em;
}

.heroBanner_btn {
  display: inline-block;
  padding: 0.9em 2em;
  background-color: #58c4c4;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Oxygen", sans-serif;
  margin-top: 1.5em;
}

.heroBanner_btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 48.75em) {
  .heroBanner {
    background-color: var(--primary-color);
    color: white;
  }

  .heroBanner_subtitle {
    color: white;
  }

  .heroBanner_iconPlay {
    display: block;
    margin: auto;
  }
}

@media screen and (min-width: 56.25em) /*900px*/ {
  .heroBanner {
    background-image: url(../images/bg_topo_1198x670.jpg);
    aspect-ratio: 114/44;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .heroBanner .maxWidth {
    margin: initial;
    margin-bottom: 4em;
    width: 75%;
  }
}

@media screen and (min-width: 74em) /*1184px*/ {
  .heroBanner {
    background-image:
      linear-gradient(transparent, var(--primary-color)),
      url(../images/bg_topo_1600x1374.jpg);
    background-blend-mode: soft-light; /* para deixar o fundo transparente */
    background-position: center top;
    background-color: var(--primary-color);
    background-repeat: no-repeat;

    max-height: 80vw;
    width: 100%;
  }
  .heroBanner .maxWidth {
    width: 50%;
  }
  .heroBanner_iconPlay {
    width: 7em;
    height: 7em;
  }
  .heroBanner_title,
  .heroBanner_subtitle {
    text-shadow: 4px 6px 6px rgb(0, 0, 0, 0.8);
  }
}

.middleContent {
  background-color: #f6f6f6;
  text-align: center;
  padding: 2em;
}

.middleContent a {
  color: inherit;
  text-decoration: none;
}

.middleContent_title {
  color: var(--primary-color);
  text-transform: uppercase;
  /*font-size: 1.25em;*/
}

.middleContent span[class^="icon-"] {
  color: var(--primary-color);
  font-size: 3.5em;
}

.middleContent p {
  line-height: 1.5em;
}

/*min-width 0 -> col-sm
min-widht: 48.75em -> col-md
min-width: 56.25em -> col-lg
min-width: 74em -> col-xl*/

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--default-gap);
}

.col {
  flex: 1 0 auto; /*flex-grow, flex-shrink, flex-basis*/
  width: 100%;
}

.col-sm-12 {
  width: 100%;
}

@media screen and (min-width: 48.75em) {
  .col-md-6 {
    width: calc(
      50% - var(--default-gap)
    ); /*Coloca 2 cards em cima e 2 cards em baixo*/
  }
}

@media screen and (min-width: 74em) {
  .col-xl-3 {
    width: calc(25% - var(--default-gap)); /*Coloca todos alinhados*/
  }
  .col-xl-6 {
    width: calc(50% - var(--default-gap));
  }
}

.mainContent {
  padding: 2em;
}

.mainContent p {
  line-height: 1.2em;
}

.mainContent_img img {
  width: 100%;
}

.mainContent_title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: normal;
  letter-spacing: 0.2em;
  font-size: 1.25em;
}

.mainContent .row {
  row-gap: 4em;
}

.mainContent_article {
  container: main-content / inline-size;
}

@container main-content (min-width: 500px) {
  .mainContent_container {
    display: flex;
    gap: var(--default-gap);
  }

  .mainContent_title {
    margin-top: 0;
  }

  .mainContent_img img {
    max-height: 382px;
  }

  .mainContent_img {
    flex: 0 0 25%;
  }

  .mainContent_text {
    flex-grow: 1;
  }
}

.footer {
  background-color: #25303e;
  color: #83969f;
  text-align: center;
  padding: 2em;
}

.icon-home3:hover,
.icon-map:hover,
.icon-bubbles4:hover,
.icon-spoon-knife:hover {
  background-color: #58c4c4;
  border-radius: 100%;
}
